# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional - discuss below)
# */migrations/*
# !*/migrations/__init__.py

# Pytest / coverage
.coverage
htmlcov/

# Mac/Linux
*.swp